body {
	border: 20px solid pink;
	padding: 20px;
	font-family: source sans pro;
	margin: 10%;
}

/*font source sans pro*/

.date {
	text-transform: uppercase;
	font-size: 1em;
	color: powderblue;
	font-weight: bold;
	letter-spacing: 3px;
}

blockquote {
	border-left: 2px solid pink;
	padding: 5px;
}

hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 2.5% 0;
}